@import "variables";
.btn-add
{
    background-color: $green-50;
    padding: 6px 17px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    color: white !important;
    letter-spacing: 0.6px;
}
.btn-submit
{
    background-color: $green-50;
    padding: 6px 17px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    color: black !important;
    letter-spacing: 0.6px;
}




.card
{
   .card-header{
      background-color: $bleu;
      &>*{
         color: white;
         margin: 0;
         text-transform: uppercase;
         font-size: 11px;
         letter-spacing: .5px;
      }
      padding-top: .7rem !important;
      padding-bottom: .7rem !important;
   }
}
label
{
    color: black !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight:bolder;
    letter-spacing: .7px;
}


.sub-title
{
   color: $pink;
   text-transform: uppercase;
   text-align: center;
   position: relative;
   &::before
   {
      content:"";
      position: absolute;
      top: 91%;
      left: 43%;
      background: $pink;
      width: 14%;
      height: 2px;

   }
}

ul.list-group
{

   h6{
      text-transform: uppercase;
      font-size: 11.5px;
      margin: 0 !important;
   }
   li{
      border: 0.8px solid #b9c9d6 !important
   }
}
thead
{
    tr
    {
        th
        {
            padding-top: .5rem !important;
            padding-bottom: .5rem !important;
            background: $pink !important;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 800;
            color: white;
            letter-spacing: .5px;
        }
    }
}
tbody
{
    td
    {
        padding-top: .25rem !important;
        padding-bottom: .25rem !important;
    }
   input.form-control{
      height: 2rem !important;
   }
}

.btn{
    box-shadow: none !important;
}

#breadcrumb {
    list-style: none;
    display: inline-block;
  }
  #breadcrumb .mdi {
    font-size: 14px;
  }
  #breadcrumb li {
    float: left;
  }
  #breadcrumb li a {
    color: #FFF;
    display: block;
    background: $pink;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
    margin-top: 10px
  }
  #breadcrumb li:nth-child(even) a {
    background-color:$pink;
  }
  #breadcrumb li:nth-child(even) a:before {
    border-color: $pink;
    border-left-color: transparent;
  }
  #breadcrumb li:nth-child(even) a:after {
    border-left-color: $pink;
  }
  #breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px;
  }
  #breadcrumb li:first-child a:before {
    border: none;
  }
  #breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
  }
  #breadcrumb li:last-child a:after {
    border: none;
  }
  #breadcrumb li a:before, #breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid $pink;
    border-width: 20px 10px;
    width: 0;
    height: 0;
  }
  #breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
  }
  #breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: $pink;
  }
  #breadcrumb li a:hover {
    background-color: $pink;
  }
  #breadcrumb li a:hover:before {
    border-color: $pink;
    border-left-color: transparent;
  }
  #breadcrumb li a:hover:after {
    border-left-color: $pink;
  }
  #breadcrumb li a:active {
    background-color: $pink;
  }
  #breadcrumb li a:active:before {
    border-color: $pink;
    border-left-color: transparent
  }
  #breadcrumb li a:active:after {
    border-left-color: $pink;
  }