.btn-add {
  background-color: #67d6c5;
  padding: 6px 17px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  color: white !important;
  letter-spacing: 0.6px;
}

.btn-submit {
  background-color: #67d6c5;
  padding: 6px 17px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  color: black !important;
  letter-spacing: 0.6px;
}

.card .card-header {
  background-color: #4169e1;
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}
.card .card-header > * {
  color: white;
  margin: 0;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.5px;
}

label {
  color: black !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 0.7px;
}

.sub-title {
  color: #e9446b;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.sub-title::before {
  content: "";
  position: absolute;
  top: 91%;
  left: 43%;
  background: #e9446b;
  width: 14%;
  height: 2px;
}

ul.list-group h6 {
  text-transform: uppercase;
  font-size: 11.5px;
  margin: 0 !important;
}
ul.list-group li {
  border: 0.8px solid #b9c9d6 !important;
}

thead tr th {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  background: #e9446b !important;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  color: white;
  letter-spacing: 0.5px;
}

tbody td {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
tbody input.form-control {
  height: 2rem !important;
}

.btn {
  box-shadow: none !important;
}

#breadcrumb {
  list-style: none;
  display: inline-block;
}

#breadcrumb .mdi {
  font-size: 14px;
}

#breadcrumb li {
  float: left;
}

#breadcrumb li a {
  color: #FFF;
  display: block;
  background: #e9446b;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
  margin-top: 10px;
}

#breadcrumb li:nth-child(even) a {
  background-color: #e9446b;
}

#breadcrumb li:nth-child(even) a:before {
  border-color: #e9446b;
  border-left-color: transparent;
}

#breadcrumb li:nth-child(even) a:after {
  border-left-color: #e9446b;
}

#breadcrumb li:first-child a {
  padding-left: 15px;
  border-radius: 4px 0 0 4px;
}

#breadcrumb li:first-child a:before {
  border: none;
}

#breadcrumb li:last-child a {
  padding-right: 15px;
  border-radius: 0 4px 4px 0;
}

#breadcrumb li:last-child a:after {
  border: none;
}

#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #e9446b;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}

#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}

#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #e9446b;
}

#breadcrumb li a:hover {
  background-color: #e9446b;
}

#breadcrumb li a:hover:before {
  border-color: #e9446b;
  border-left-color: transparent;
}

#breadcrumb li a:hover:after {
  border-left-color: #e9446b;
}

#breadcrumb li a:active {
  background-color: #e9446b;
}

#breadcrumb li a:active:before {
  border-color: #e9446b;
  border-left-color: transparent;
}

#breadcrumb li a:active:after {
  border-left-color: #e9446b;
}
